.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

div > div {
  text-align: center;
}

img {
  height: 120px;
  weight: 120px;
}

.search {
  margin: 40px;
}

label {
  margin: 3px;
  font-size: 1.4em;
}

input {
  font-size: 1.2em;
}
